/* this is bad css */
form {
	position : absolute;
	width : 90%;
	height : 100%;
}

form section {
	display : inline-block;
	position : relative;
	width : 48%;
	height : 40%;
	padding : 0;
	amargin : 0;
}

form section h4 {
	margin-bottom : 0.5em;
	padding-bottom : 0;
}

form section textarea {
	position : relative;
	width : 100%;
	height : 100%;
	margin : 0;
}
